<div class="narrativeLog {{ Self::get_labels_as_str(self) }}">
<p>
	<span class="score">
    <button class="btn"><i class="fa fa-user-circle"></i></button> 
	</span>
	<span class="title">
			<a>
        {{ message_text }}
			</a>
	</span>
  {% set attached_images = Self::get_attached_images(self) %}
  {% if attached_images.len() > 0 %}
  <div class="attached-images">
    {% for url in attached_images %}
    <img src={{ url }} alt="Attached image." width=256>
    {% endfor %}
  </div>
  {% endif %}
	<span class="score2" title="narrative log labels.">
    {% for label in Self::get_labels(self) %}
      {{ label }}
    {% endfor %}
	</span>
	<span class="meta">
    <a>
      {{ user_id }} {{ date_added }}
    </a>
	</span>
</p>
</div>
